 body{
    background-color: white;
    margin: 0;
}
 
 #navbar {
	overflow: hidden;
	position: sticky;
	top: 0;
	background-color: #2F4F4F;
	z-index: 1000;
    color: #F8F8FF;
    text-align: left;
    margin-bottom: 5px;
	height: 70px;
}

#logo-image {
	height: 70px
}

.link {
	color: #F8F8FF !important;
	font-size: 18px
}



.link:hover {
    color: #7FFFD4 !important;
}

#date-header{
	margin : 0px 0px 0px 5px;
	font-weight: bold;
	color: black
}

#source-link {
	margin : 0px 0px 5px 6px;
	font-size: 10px
}

#dash-header {
    grid-area: header;
    text-align: right
}

#open-offcanvas {
	background-color: #212529;
	width: 100px;
	grid-area: offcanvas;
	width:100px;
	margin-left:10px;
	margin-top:5px;
	float:left
}

#texttip {
font-size :10px
}

#offcanvas {
	background-color: #212529; 
	width: 700px; 
	color: white	
}

.dropdown {
	width:70%;
	text-align:center;
	font-size:14;
	margin-bottom:10px;
	font-family: verdana; 
	color:black
}


.canvasheader {
	color:white; 
	margin-bottom:10px
}

.header {
	background-color:#2F4F4F;
	text-align:center;
	font-size:18px;
	color:white;
	height:30px;
	font-family: verdana; 
	padding-top:5px;
	margin-bottom:0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px
}

#pie_sector {
	height:38vh;
	grid-area: pie;
	margin:25px 5px 5px 10px;
	padding-top: 5px;
	border: 1px solid;
	border-color: #DCDCDC;
	border-radius: 10px;
	overflow: hidden;
	background-color: white;
}

#bar_industry {
	height:calc(40vh - 37px);
	padding-bottom: 0px;
	border: 1px solid;
	border-color: #DCDCDC;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
}

#bar_industry > div.js-plotly-plot .plotly .cursor-crosshair {
    cursor: pointer;
}

#category_bar > div.js-plotly-plot .plotly .cursor-crosshair {
    cursor: pointer;
}

#industry_bar_div {
	grid-area:bars;
	padding-top:20px;
}

#line_sector {
	height:calc(45vh - 30px); 
	padding-top:3px;
	border: 1px solid;
	border-color: #DCDCDC;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
}

#line_div {
	grid-area:line
}

#category_bar {
	height:calc(45vh - 30px);
	border: 1px solid;
	border-color: #DCDCDC;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
}

#category-bar-div {
	grid-area: catbar
}

#table-div {
	grid-area:table;
	padding-left:10px
}

#container {
	display: grid;
	grid-template-areas: 
	"offcanvas offcanvas header "
	"pie bars bars"
	"line line table" 
	"catbar catbar table";
	grid-template-columns: 25vw 20vw 50vw;
	grid-template-rows: 3vh 40vh 45vh 45vh;
	column-gap: 10px;
	justify-content: space-evenly;
	row-gap : 20px;
}

.textbox {
	padding-top:30px; 
	padding-bottom:30px;
	font-size:14px;
	white-space: pre-line;
    margin:auto;
	padding-left:20%;
	padding-right:20%;
}

#industry-bars-2 {
	margin-left: auto; 
	margin-right: auto;
	padding-bottom: 0px;
	height:50vh;
	width:75vw; 
	max-width:1500px
}

#gender-age-graph {
	margin-left: auto; 
	margin-right: auto; 
	width:75vw; 
	max-width:1500px
}

#layout-analysis {
	max-width:2000px;
	margin:auto
}